@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    margin: 0px;
    box-sizing: border-box;
}

.home {
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}

.city-state-home {
    font-size: 25px;
}

.inner-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.data-container-home {
    margin: 30px 30px;
    border: 3px solid;
    padding: 30px;
}

img {
    width: 200px;
    padding: 30px 0px;
}

.info-content {
    text-align: left;
    width: 300px;
}

@media (orientation: landscape) {
    .data-container-home {
        margin: 30px 30px;
        border: 5px solid;
        padding: 30px;
    }

    .inner-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .info-content {
        text-align: center;
    }

    .city-state-home {
        font-size: 35px;
    }
  }

  @media only screen and (min-width: 760px) {
      .info-content {
          
          margin: auto
      }
  }