@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer {
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
    padding: 5px 15px;
    border-top: 5px solid;
    height: 75px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

@media only screen and (min-width: 760px) {
    .footer {
        visibility: visible;
    }
}