@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.city-info {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center; 
}

.city-state {
    font-size: 25px;
}

.inner-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.data-container {
    margin: 0px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 54);
    border: 3px outset rgb(0, 0, 54);
    border-top: none;
    padding: 30px;
}

img {
    width: 200px;
}

.info-content {
    text-align: left;
    width: 300px;
}

@media (orientation: landscape) {
    .data-container {
        margin: 0px 30px;
        background-color: #ffffff;
        color: rgb(0, 0, 54);
        border: 5px outset rgb(0, 0, 54);
        border-top: none;
        padding: 30px;
    }

    .inner-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .info-content {
        text-align: center;
    }

    .city-state {
        font-size: 35px;
    }
  }

  @media only screen and (min-width: 760px) {
    .info-content {
        width: 50%;
        margin: auto
    }
}